@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
}

button {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    margin: 0.3rem;
    cursor: pointer;
    border-radius: 1rem;
    transition: .5s;
}

button:hover {
    box-shadow: 0 0 15px rgb(0, 166, 255);
}

.body-all {
    place-items: center;
    height: 100vh;
    align-content: center;
    background-color: black;
}

.overall {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.display {
    color: white;
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: right;
}

.number {
    background-color: rgb(74, 74, 74);
    color: white;
}

.operator {
    background-color: rgb(255, 157, 0);
    color:white;
}

.command {
    background-color:gray;
    color:white;
}

.big-button {
    grid-column: span 2;
}

.error-message {
    height: 2rem;
    color:white;
    font-size:2rem;
}